.titulo {
  color: blue;
  font-family: Liberation Serif;
  font-size: 50px;
}
#destacado {
  background-color: green;
  color: red;
}
.contenido {
  color: orange;
  background: purple;
  font-size: 20px;
}
#especial {
  font-family: Arial;
  width: 200px solid purple;
  height: 200px solid purple;
  border: 20px solid orange;
}
