#titulo {
  color: blue;
  font-family: Liberation Serif;
  font-size: 20px;
}
.texto {
  color: orange;
  font-family: Arial;
  font-size: 12px;
  margin: 20px solid yellow;
  background-color: #49FC01;
}
.resaltado {
  background-color: yellow;
  color: black;
  text-decoration: underline;
  font-style: italic;
}
.boton {
  background-color: #F77E0B;
  color: purple;
  font-family: Carlito;
  font-size: 10px;
}
#botonEnviar {
  width: 200px solid green;
  height: 200px solid green;
  border: 20px solid orange;
}
