body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.card{
  flex: 50%;
  margin: 10px;
  border: 5px solid black;
  background-color: grey;
  padding: 10px;
  with: 300px;
  heigh: 200px;
}
